*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 1000px;
	background: white;

}	

.logo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: solid 3px green;
}

.logo__redes {
	position: absolute;
	right: 0;
	font-size: 40px;
	padding: 40px;
}

.galeria {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100vw;
	height: 800px;
	background: red;
	margin-top: 20px;
	flex-wrap: wrap;
	
}

.galeria__item1 {
	position: relative;
	width: 350px;
	min-width: 200px;
	height: 770px;
	margin: 5px;
	background: blue;
	flex-grow: 1;

	
}

.galeria__item2 {
	position: relative;
	width: 350px;
	min-width: 200px;
	height: 770px;
	margin: 5px;
	background: green;
	flex-grow: 1;
	
	
}

.galeria__item3 {
	position: relative;
	width: 350px;
	min-width: 200px;
	height: 770px;
	margin: 5px;
	background: yellow;
	flex-grow: 1;
}





